
.row {
	margin-left: -15px;
	margin-right: -15px
}
.row:after,
.row:before {
	content: " ";
	display: table
}
.row:after {
	clear: both
}


.footer .row-small {
	margin-top: 20px
}

@media (min-width:992px) {
	:not(.footer-simple).footer .row-small {
		margin-top: 100px
	}
}

.footer .row-small a,
.footer .row-small small {
	font-size: 10px
}

@media (min-width:768px) {
	.footer .row-small a,
	.footer .row-small small {
		font-size: 12px
	}
}


.row {
	margin-top: 10px;
	margin-bottom: 10px
}

.row-submit {
	margin-top: 20px;
	margin-bottom: 20px
}

.row:first-child {
	margin-top: 0
}

.row:last-child {
	margin-bottom: 0
}



.head {
	border-bottom: 1px solid #d9dadc;
	padding: 25px 0 10px;
	margin-bottom: 30px;
	text-align: center
}


.head.small {
	padding: 10px 0 0
}


@media (max-width:768px) {
	.head {
		padding: 10px 0 0
	}
}


.login .disclaimer {
	font-size: .7em
}
#login-to-continue {
	display: inline
}

.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}

.col-xs-12 {
	float: left
}

.col-xs-12 {
	width: 100%
}
.dropdown-menu .divider {
	height: 1px;
	margin: 11px 0;
	overflow: hidden;
	background-color: #efefef
}

.dropdown .divider {
	margin: 5px 0
}


.content {
	margin: 0 auto;
	max-width: 450px
}


.btn-block {
	display: block;
	width: 100%
}

.btn-block+.btn-block {
	margin-top: 5px
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
	width: 100%
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}


.h2,
.h3,
h1,
h2,
h3 .h1 {
	margin: .5em 0 .25em
}

.h1,
h1 {
	font-size: 32px;
	font-weight: 900;
	letter-spacing: -.02em;
	line-height: 1.2
}

.btn-default{
	color: #616467;
	box-shadow: inset 0 0 0 2px #616467;
	background-color: transparent
}

.btn-default:hover{
	color: #fff;
	background-color: #616467
}
.btn-default:focus{
	color: #fff;
	background-color: #616467;
	box-shadow: inset 0 0 0 2px #000
}
.btn-default.active,
.btn-default:active{
	color: #fff;
	background-color: #000
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default{
	color: #d9dadc;
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #d9dadc
}


.btn{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 4px;
	padding: 7px 12px 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    user-select: none;
    
    font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	padding: 16px 48px 18px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: .3s;
	border-width: 0;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal
}


@media (max-width:991px) {
	.divider {
		background-color: #080808
	}
}


.divider {
	height: 1px;
	margin: 11px 0;
	overflow: hidden;
	background-color: #efefef
}

.navbar .navbar-header .nav-inverse .dropdown-menu .divider,
.navbar .navbar-header .nav .dropdown-menu .divider {
	height: 2px;
	margin: 10px auto;
	width: 20px;
	background: #1ed760
}


@media (max-width:991px) {
	.navbar-nav>.divider {
		height: 2px;
		width: 20px;
		margin: 30px 15px
	}
}

@media (min-width:992px) {
	.navbar-nav>.divider {
		height: 16px;
		width: 1px;
		margin: 32px 17px
	}
}

.navbar-nav>li>.dropdown-menu .divider {
	height: 2px;
	margin: 10px auto;
	width: 20px;
	background: #1ed760
}

@media (max-width:991px) {
	.navbar-nav>li>.dropdown-menu .divider {
		margin-left: 25px
	}
}
.navbar-default .navbar-nav>.divider {
	background-color: #d9dadc
}
[class*=navbar-highlight].navbar .navbar-header .nav-inverse .dropdown-menu .divider,
[class*=navbar-highlight].navbar .navbar-header .nav .dropdown-menu .divider,
[class*=navbar-highlight].navbar .navbar-nav .dropdown-menu .divider {
	background-color: currentColor
}

.divider, li a {
    -webkit-animation-name: sneak-in;
    animation-name: sneak-in;
    -webkit-animation-duration: .43s;
    animation-duration: .43s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.divider li a {
	-webkit-animation-name: sneak-in;
	animation-name: sneak-in;
	-webkit-animation-duration: .43s;
	animation-duration: .43s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-delay: 0s;
	animation-delay: 0s
}

.divider {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 18px 0 46px
}

.divider {
	margin: 5px 0
}

ul.text-muted{
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px
}

ul.text-muted li{
	margin: 5px 0;
	line-height: 1.2
}

.text-muted {
	color: #c1c3c6
}

.col-sm-6 {
    width: 50%;
    position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}


.btn-green {
	color: #fff;
	background-color: #1ed760
}

.btn-green:hover {
	color: #fff;
	background-color: #4bdf80
}

.btn-green:focus {
	color: #fff;
	background-color: #18ac4d;
	-webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .1) inset;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1)
}

.btn-green.active,
.btn-green.active:hover,
.btn-green:active,
.btn-green:active:hover,
.open>.dropdown-toggle.btn-green,
.open>.dropdown-toggle.btn-green:hover {
	background-color: #18ac4d;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green {
	background-color: #c1c3c6
}